<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>Вход</h1>

<div th:if="${param.error}" style="color: red;">
    Неправильное имя или пароль
</div>

<div th:if="${param.logout}" style="color: green;">
    Вы вышли
</div>

<form th:action="@{/login}" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" placeholder="Введите имя" required>
    </div>
    <br>
    <div>
        <label>Password:</label>
        <input type="password" name="password" placeholder="Введите пароль" required>
    </div>
    <br>
    <button type="submit">Войти</button>
</form>

</body>
</html>